.logo img {
  filter: invert(0.8);
  width: 100%;
  min-width: 220px;
  max-width: 220px;
}

body {
  background-color: #eee;
  color: #101010;
}

.hide {
  display: none;
}

li {
  list-style: none;
}

.dark-blue {
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  height: 100%;
  width: 0%;
  transition: all 500ms cubic-bezier(0.62, 0.04, 0.3, 1.8);
  transition-delay: 50ms;
  opacity: 0.5;
}
.dark-blue.slide {
  width: 100%;
  opacity: 1;
}

.hamburger-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 15px;
  right: 3%;
  z-index: 1002;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.icon-1,
.icon-2,
.icon-3 {
  position: absolute;
  left: 25%;
  top: 50%;
  width: 32px;
  height: 2px;
  background-color: #101010;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.icon-1 {
  transform: translateY(-8px);
  animation-delay: 100ms;
}

.icon-3 {
  transform: translateY(8px);
  animation-delay: 250ms;
}

.icon-1.a {
  transform: rotate(40deg);
}

.icon-3.b {
  transform: rotate(-40deg);
}

.icon-2.c {
  opacity: 0;
}

.header-wrapper {
  background-color: #eee;
  padding: 20px 60px;
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 1000;
}

header {
  display: block;
}
header .logo {
  text-align: center;
}

.logo img {
  width: 100%;
  min-width: 220px;
  max-width: 220px;
}

#mobile-menu-bgrnd {
  display: none;
  background-color: #eee;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 0;
  opacity: 0;
  transition-property: all;
  transition-duration: 700ms;
}

/* .show{
    height: 100vh !important; 
    opacity: 1 !important;
    display: block !important;


} */
#sub-nav {
  display: flex;
  justify-content: end;
}
#sub-nav nav a {
  font-family: "Playfair Display", serif;
  font-size: 0.8rem;
  font-weight: 400;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  opacity: 0;
  transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
  transition-delay: 100ms;
}
nav.show {
  width: 100%;
  opacity: 0.85;
}
nav ul {
  margin-top: 150px;
  padding: 0;
}
nav ul li {
  margin: 25px 0;
}
nav ul li a {
  font-family: "League Spartan", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #101010;
  text-align: center;
  display: inherit;
}

#main-content {
  margin: 15px;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
}

#text-content {
  flex-basis: 100%;
}

.quote {
  margin: 0;
  padding: 0.5rem 2rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  border-left: 1px solid #101010;
}

.small-text p {
  font-size: 1rem;
  line-height: 2.5rem;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding: 15px 0;
  border-bottom: 1px solid #c5c5c5;
}

#content {
  display: flex;
  padding-top: 15px;
}

ul.artist-list {
  margin-top: 0;
  padding: 0;
  flex-basis: 50%;
}
ul.artist-list li a {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-decoration: none;
  color: #101010;
}
ul.artist-list li a h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 0.9em;
}

#image-content {
  display: none;
}

#works {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
}
#works:after {
  content: "";
  border-top: 1px solid #c5c5c5;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 0;
}

.gallery {
  padding-top: 120px;
  margin: 0;
  display: block;
}
.gallery ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.gallery ul:nth-child(1n) {
  transform: translateY(30px);
}
.gallery ul:nth-child(2n) {
  transform: translateY(180px);
}
.gallery ul:nth-child(3n) {
  transform: translateY(120px);
}
.gallery ul li {
  padding: 0;
  margin: 0;
  margin-bottom: 8rem;
}
.gallery ul li a {
  display: block;
  text-decoration: none;
  color: #101010;
  text-transform: uppercase;
}
.gallery ul li a img {
  border: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}
.gallery ul li a span {
  display: inline-block;
  margin-top: 2rem;
  font-family: "Playfair Display", serif;
}

.lazy {
  opacity: 0;
  transform: translateY(90px);
  transition-property: all;
  transition: all 3000ms cubic-bezier(0.18, 1, 0.21, 1);
}

.show-from-bottom {
  transform: translateY(-60px) !important;
  opacity: 1 !important;
}

.show-from-top {
  transform: translateY(60px) !important;
  opacity: 1 !important;
}

#footer {
  border-top: 1px solid #c5c5c5;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#footer ul {
  padding-left: 15px;
}
#footer ul li {
  display: inline-flex;
  align-items: center;
  margin: 0 25px 0 0;
}
#footer ul li a {
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: #101010;
}

.copyright-text {
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-left: 40px;
}

#social-links {
  color: gray;
  display: flex;
  align-items: flex-end;
}
#social-links div {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .hide {
    display: inherit;
  }
  #header-wrapper {
    position: relative;
  }
  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 20px;
    background-color: #eee;
  }
  nav {
    display: flex;
    background: transparent;
    position: inherit;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    opacity: 1;
  }
  nav ul {
    display: flex;
    margin: 0;
  }
  nav ul li {
    display: inline-flex;
    align-items: center;
    margin: 0 25px 0 0;
    width: auto;
  }
  nav ul li a {
    font-family: "League Spartan", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.88em;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: #101010;
  }
  .hamburger-icon {
    display: none;
  }
  #content {
    padding-top: 60px;
  }
  #main-content {
    margin: 110px;
  }
  #text-content {
    display: flex;
    flex-basis: 50%;
  }
  #artist-text-content {
    flex-direction: column;
    flex-basis: 50%;
  }
  #image-content {
    display: flex;
    flex-basis: 50%;
    box-sizing: border-box;
    justify-content: center;
  }
  #image-content img {
    width: 90%;
  }
  .gallery {
    display: flex;
  }
  .gallery ul {
    width: 33%;
    padding-right: 120px;
  }
}
.scrolling-down {
  transform: translateY(-150%);
  transition-property: transform;
  transition-delay: 125ms;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.65, 0.06, 0.19, 0.96);
}

.scrolling-up {
  transform: translateY(0);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.65, 0.06, 0.19, 0.96);
}

/*# sourceMappingURL=light-main.css.map */
